@import "main.scss";
.editUser {
    display: flex;
    width: 100%;

    .newContainer {
        flex: 6;

        .top {
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            padding: 2rem;
            display: flex;
            align-items: center;
            background: #fff;
            h1 {
                color: lightgray;
                text-transform: capitalize;
                font-size: 20px;
                margin: 0;
                font-weight: 400;
            }
        }
        .bottom {
            background: #fff;
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            padding: 3rem 10rem;
            
            // display: flex;
            // align-items: center;

            // .right {
            // flex: 1 1;

            form {
                // display: flex;
                // flex-wrap: wrap;
                // justify-content: space-around;

                .box {
                    @include grid(42rem);
                    gap: 3rem;
                    .formInput {
                        width: 100%;
                        label {
                            font-size: 16px;
                            font-weight: 300;
                            display: flex;
                            align-items: center;
                            .icon {
                                margin-left: 10px;
                            }
                        }
                        input {
                            width: 100%;
                            border: none;
                            outline: none;
                            border-bottom: 1px solid gray;
                            padding: 5px;
                            margin-top: 5px;
                            &::placeholder {
                                font-size: 1.5rem;
                            }
                        }
                        .selectuser {
                            width: 100% !important;
                            margin-top: 1rem;
                            border: none;
                            outline: none;
                            &:focus {
                                border-color: none !important;
                                outline: none;
                            }

                            .ant-select-selector {
                                border: none;
                                outline: none;
                                border-bottom: 1px solid #000;
                                padding: 0;
                                padding-left: 1rem;
                            }
                        }
                    }
                }
                .button {
                    text-align: right;
                    margin-top: 2rem;
                    button {
                        width: 150px;
                        padding: 10px;
                        border: none;
                        background-color: teal;
                        color: white;
                        font-weight: bold;
                        cursor: pointer;
                        margin-top: 10px;
                    }
                }
            }
            // }
        }
    }
}
