@import "main.scss";
.home {
    // position: relative;
    padding-bottom: 5%;
    section {
        padding: 0 9%;
        position: relative;

        .tabs {
            padding-bottom: 5%;
            .ant-tabs-tab {
                color: #a0a3a7;
                text-transform: uppercase;
                font-size: 18px;
                font-weight: 400;

                &:hover .ant-tabs-tab-btn {
                    color: #43464b !important;
                    background: transparent;
                }

                &.ant-tabs-tab-active .ant-tabs-tab-btn {
                    color: #43464b !important;
                    background: transparent;
                    &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        height: 0.2rem;
                        background-color: #de0611;
                        margin-top: 0.7rem;
                    }
                }

                // &.ant-tabs-tab-active {
                //     border-width: 0;
                //     border: none;
                //     color: #43464b !important;
                //     background: transparent;
                // }
            }

            .loadMore {
                position: absolute;
                bottom: -1.8rem;
                right: 9%;
                text-align: right;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #de0611;
                border: 0.1rem solid #de0611;
                padding: 1rem 2.2rem;
                cursor: pointer;

                &:hover {
                    background-color: #de0611;
                    color: #fff;
                }

                span {
                    font-weight: 400;
                    font-size: 1.7rem;
                }
                .icon {
                    margin-left: 0.5rem;
                }
            }
        }
    }

    .box-container {
        @include grid(25rem);
    }
}
