@import "main.scss";

.movies {
    padding: 9%;
    background-color: #f0f0ec;
    width: 100%;
    // height: 100vh;

    .filter {
        width: 100%;
        border: 1px solid hsla(0, 2%, 22%, 0.2);
        border-radius: 4px;
        padding: 12px 10px;
        .sortBy {
            .selectSort {
                margin-left: 0.8rem;
            }
        }
    }
    .box-container {
        margin-top: 4rem;
        @include grid(25rem);
    }
}

.selectSort {
    .ant-select-selector {
        border-radius: 20px !important;
        font-size: 14px;
        background-color: transparent !important
        ;
    }
}
