//menu user
.menu-list {
    width: 232px;
    .wrapper-menu {
        width: 100%;
        // max-height: min((100vh - 96px) - 60px, 734px);
        min-height: 100px;
        padding-top: 8px;
        border-radius: 4px;
        background: rgb(255, 255, 255);
        box-shadow: #0000001f 0px 2px 12px;
    }
    .menu-item {
        display: block;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        border-radius: 0;
        padding: 14px 18px;
        line-height: 1.8rem;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.85);

        .icon {
            font-size: 18px;
            color: #000;
        }
        span {
            margin-left: 5px;
        }

        &.separate {
            border-top: 1px solid rgba(22, 24, 35, 0.12);
        }

        &:hover {
            color: rgba(0, 0, 0, 0.85);
            background: rgba(22, 24, 35, 0.03) !important;
        }
    }
}
