@import "main.scss";
.newfilm {
    display: flex;
    width: 100%;

    .newContainer {
        flex: 6;

        .top {
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            padding: 2rem;
            display: flex;
            align-items: center;
            background: #fff;
            h1 {
                color: lightgray;
                text-transform: capitalize;
                font-size: 20px;
                margin: 0;
                font-weight: 400;
            }
        }
        .bottom {
            background: #fff;
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            padding: 3rem 10rem;
            margin-top: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5rem;
            .left {
                flex: 1;
                text-align: center;
                justify-content: center;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    object-fit: cover;
                    margin: auto;
                }
            }
            .right {
                flex: 2 1;

                form {
                    .box {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;

                        gap: 3rem;
                        .formInput {
                            width: 40%;

                            button{
                                margin-top: 1rem;
                            }
                            .rate{
                                border: none;
                                width: 100%;

                                &.ant-input-number-focused{
                                    box-shadow: none;
                                }
                            }
                            .datetime {
                                border: none;
                                border-bottom: 1px solid #000;
                                padding: 0;
                                margin-top: 1rem;
                                width: 100%;

                                &.ant-picker-focused {
                                    // border-color: transparent !important;
                                    box-shadow: none;
                                    border-bottom: 1px solid #000;
                                }

                                input {
                                    border: none;
                                }
                            }
                            label {
                                font-size: 16px;
                                font-weight: 300;
                                display: flex;
                                align-items: center;
                                .icon {
                                    margin-left: 10px;
                                }
                            }
                            input {
                                width: 100%;
                                border: none;
                                outline: none;
                                border-bottom: 1px solid gray;
                                padding: 5px;
                                margin-top: 5px;
                                &::placeholder {
                                    font-size: 1.5rem;
                                }
                            }
                            .selectuser {
                                width: 100% !important;
                                margin-top: 1rem;
                                border: none;
                                outline: none;
                                &:focus {
                                    border-color: none !important;
                                    outline: none;
                                }

                                .ant-select-selector {
                                    border: none;
                                    outline: none;
                                    border-bottom: 1px solid #000;
                                    padding: 0;
                                    padding-left: 1rem;
                                }
                            }
                        }
                    }
                    .button {
                        text-align: right;
                        margin-top: 2rem;
                        button {
                            width: 150px;
                            padding: 10px;
                            border: none;
                            background-color: teal;
                            color: white;
                            font-weight: bold;
                            cursor: pointer;
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }
}
