@import "main.scss";
.film {
    border: $border;
    height: 40rem;
    width: 27.6rem;
    box-shadow: $box-shadow;
    position: relative;
    overflow: hidden;

    &:hover {
        cursor: pointer;
        .content {
            opacity: 1;
        }
        .image {
            transform: scale(1.2);
        }
    }

    .image {
        height: 100%;
        overflow: hidden;
        transform: scale(1);
        transition: 0.4s linear;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .content {
        padding: 1rem 1rem;
        position: absolute;
        bottom: 0;
        width: 100%;
        background: rgba(46, 41, 41, 0.849);
        opacity: 0;

        .link {
            display: flex;
            justify-content: space-between;
        }

        h3 {
            @include title-text(2rem);
            font-weight: bold;
            text-align: center;
        }
    }
}
