$white: #fff;
$black: #000;
$gray: #b3b3b3;
$orange: orange;
$red: #e50914;

form.formlogin {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: url(https://bit.ly/2E3scwW);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    background-color: $gray;
    background-blend-mode: multiply;

    .logo {
        position: absolute;
        align-self: flex-start;
        width: 100%;
        left: 0;
        top: 0;
        margin-left: 2rem;

        img {
            height: 75px;
            width: auto;
        }
    }

    .login {
        display: flex;
        flex-direction: column;
        background: rgba(000, 000, 000, 0.75);
        border-radius: 4px;
        min-width: 45rem;
        min-height: 60rem;
        padding: 60px 68px 40px;

        &__title {
            margin-bottom: 20px;
            font-size: 2.2rem;
            font-weight: 600;
            color: $white;
        }

        &__group {
            position: relative;
            z-index: 10;
            display: flex;

            &__label {
                position: absolute;
                z-index: 150;
                color: #b3b3b3;
                font-size: 01.5rem;
                top: 38%;
                transform: translateY(-50%);
                left: 18px;
                transition: all 300ms ease-in;
            }

            &__input {
                width: 100%;
                position: relative;
                z-index: 100;
                background: #333;
                margin-bottom: 20px;
                border-radius: 4px;
                border: none;
                opacity: 1;
                font-size: 1.5rem;
                color: #fff;
                line-height: 5rem;
                padding: 0.5rem 1rem;
                text-transform: none;

                &::placeholder {
                    font-size: 1.3rem;
                }
            }
        }

        &__sign-in {
            padding: 16px;
            color: $white;
            background: $red;
            font-size: 1.5rem;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        &__secondary-cta {
            position: relative;
            z-index: 100;
            display: flex;
            justify-content: space-between;
            margin-top: 0.2rem;

            &__text {
                opacity: 1;
                font-size: 1.3rem;
                color: #b3b3b3;
                text-decoration: none;

                &--need-help {
                    transition: all 0.3s ease-in;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        .signup {
            color: #737373;
            font-size: 16px;
            font-weight: 500;
            margin-top: 16px;
            a {
                margin-left: 0.7rem;
                color: #fff;
                &:hover {
                    text-decoration: underline !important;
                }
            }
        }
    }
}

::placeholder {
    font-size: 0.7rem;
}
