@import "main.scss";
.resultbooking {
    // display: flex;
    // flex-wrap: wrap;
    // flex: 1 1 24rem;
    // gap: 2rem;
    @include grid(35rem);
    a {
        img {
            height: 100%;
        }
    }
}
