@import "main.scss";

.checkout {
    padding: 0 9%;
    // background: rgb(68, 64, 64);
    height: 100vh;
    // color:#fff;
    .tabsCheckOut {
        .ant-tabs-nav {
            display: flex;
            justify-content: space-between;
            padding: 1.5rem 0;

            &::before {
                border: none;
            }

            .ant-tabs-nav-wrap {
                flex: none;
            }
            .ant-tabs-extra-content {
                .back {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 0.3rem;
                    cursor: pointer;
                    .icon {
                        font-size: 2rem;
                    }
                    &:hover {
                        color: red;
                    }
                }
                .myBox {
                    position: relative;

                    .mybutton {
                        position: relative;
                        &:focus {
                            border: none;
                            outline: none;
                        }
                        .user {
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;
                            gap: 2rem;
                            color: #000;

                            &:visited {
                                opacity: 1;
                                visibility: visible;
                            }

                            .imgage {
                                display: flex;
                                align-items: center;
                                gap: 0.3rem;
                                cursor: pointer;
                                color: #fff;
                                &:hover {
                                    .icon {
                                        color: #de0611;
                                    }
                                }
                                img {
                                    width: 5rem;
                                    height: 5rem;
                                    border-radius: 50%;
                                }
                                .icon {
                                    font-size: 1.2rem;
                                    font-weight: bold;
                                    color: #000;
                                }
                            }
                        }
                    }
                    .dropdown {
                        position: absolute;
                        top: 103%;
                        right: 5px;
                        background: #fff;
                        padding: 1rem;
                        color: #000;
                        border-radius: 0.2rem;
                        -webkit-box-shadow: 1px 1px 15px 4px rgba(0, 0, 0, 0.41);
                        box-shadow: 1px 1px 15px 4px rgba(0, 0, 0, 0.41);

                        ul {
                            display: flex;
                            flex-direction: column;
                            gap: 1rem;
                            margin-bottom: 0;

                            li {
                                display: flex;
                                align-items: center;
                                text-align: left;
                                cursor: pointer;
                                padding: 0.7rem 0.7rem;
                                padding-right: 6rem;

                                border-radius: 0.4rem;
                                &:hover {
                                    background-color: rgba(211, 211, 211, 0.808);
                                }

                                .icon {
                                    color: #000;
                                    width: 3rem;
                                    height: 3rem;
                                    background: rgba(161, 161, 161, 0.541);
                                    border-radius: 50%;
                                    line-height: 3rem;
                                    text-align: center;
                                    margin-right: 1rem;
                                }
                            }
                        }
                    }
                }
            }
        }
        .ant-tabs-tab {
            color: gray;
            font-weight: bold;
            &:hover {
                color: #000;
                &::before {
                    content: "";
                    width: 100%;
                    height: 0.4rem;
                    background: red;
                    border-radius: 0.1rem;
                    position: absolute;
                    bottom: 0;
                }
            }
            &.ant-tabs-tab-active {
                .ant-tabs-tab-btn {
                    color: #000;
                    &::before {
                        content: "";
                        width: 100%;
                        height: 0.4rem;
                        background: red;
                        border-radius: 0.1rem;
                        position: absolute;
                        bottom: 0;
                    }
                }
            }
        }
    }

    .selectseat {
        .rows {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            align-items: center;
            .rowright {
                width: 33rem;
                border: 1px solid #000;
                padding: 1rem;
                padding-bottom: 2rem;

                .images {
                    width: 100%;

                    img {
                        width: 100% !important;
                        object-fit: cover;
                        height: 33rem;
                    }
                    p {
                        text-align: center;
                        font-size: 2rem;
                        font-weight: bold;
                    }
                }
                .infodetail {
                    span {
                        font-weight: bold;
                        margin-right: 1rem;
                    }
                    div {
                        margin-bottom: 1.2rem;
                        border-bottom: 0.1rem dotted #ced0da;
                        padding-bottom: 1rem;
                        &:nth-last-child(1) {
                            border: none;
                        }
                    }
                }
                .button {
                    text-align: center;
                    a {
                        border-radius: 0.2rem;
                        color: #fff;
                        background-color: #de0611;
                        padding: 1rem 1.5rem;
                        font-size: 1.5rem;
                    }
                    &:hover {
                        a {
                            // background-color: #fff;
                            // color: #000;
                        }
                    }
                }
            }
            .rowleft {
                flex: 1 1 42rem;

                .infophim {
                    .title {
                        font-size: 2rem;
                        font-weight: bold;
                        span {
                            top: 3px;
                            margin-left: 12px;
                            background: red;
                            border-radius: 0.3rem;
                            color: #fff;
                            font-size: 1rem;
                            padding: 0 0.5rem;
                        }
                    }
                    .content {
                        color: rgb(131, 128, 128);
                    }
                }
                .listseat {
                    position: relative;
                    .screen {
                        background: url(https://picsum.photos/200/300);
                        width: 100%;
                        height: 100%;
                    }
                    .seats {
                        text-align: center;
                        padding-top: 10rem;
                        &::before {
                            content: "";
                            background-image: url(https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/bg-screen.png);
                            background-position: center;
                            background-size: contain;
                            background-repeat: no-repeat;
                            width: 100%;
                            height: 5rem;
                            position: absolute;
                            top: 0rem;
                            left: 0%;
                        }
                        .seat {
                            /* ghế thường */
                            width: 3.5rem;
                            height: 3.5rem;
                            border: none;
                            border-radius: 0.5rem;
                            cursor: pointer;
                            margin: 0.6rem;
                            // background-color: #dbdee1;
                            border: 0.2rem solid #01c73c;
                            color: #000;
                            &:focus {
                                bottom: none;
                                outline: none;
                            }

                            &.gheDangDat {
                                background-color: #b11500;
                                border: 1px solid #b11500 !important;
                            }

                            &.gheVip {
                                // background-color:#f71708;
                                border: 0.2rem solid #f71708;
                            }

                            &.gheDaDuocDat {
                                /*ghế được chính mình đặt */
                                background-color: rgb(246, 246, 246) !important;
                                -webkit-box-shadow: -1px 2px 18px -6px orange;
                                box-shadow: -1px 2px 18px -6px orange;
                                color: orange;
                                border: 1px solid orange !important ;
                            }
                            &.gheDaDat {
                                // background-color: #e11c01!important;

                                cursor: no-drop;
                                background: #bbb;
                                border: 0.2rem solid #bbb;
                            }
                        }
                    }
                }
                .hr {
                    height: 0.3rem;
                    margin: 2rem auto;
                    width: 50%;
                    background: red;
                    border-radius: 0.1rem;
                }

                .notice {
                    .box {
                        display: flex;
                        justify-content: center;
                        gap: 4rem;
                        margin-top: 2rem;
                        .loai {
                            display: flex;
                            align-items: center;
                            &.checked {
                                div {
                                    width: 1.5rem;
                                    height: 1.5rem;

                                    background-color: #b11500;
                                    border: 1px solid #b11500;
                                }
                            }
                            &.dachon {
                                div {
                                    width: 1.5rem;
                                    height: 1.5rem;
                                    border: 0.2rem solid #bbb !important;
                                    background: #bbb;
                                }
                            }
                            &.thuong {
                                div {
                                    width: 1.5rem;
                                    height: 1.5rem;
                                    border: none;
                                    border: 0.2rem solid #01c73c;
                                    color: #000;
                                }
                            }
                            &.vip {
                                div {
                                    width: 1.5rem;
                                    height: 1.5rem;
                                    border: 0.2rem solid #f71708;
                                }
                            }
                            &.gheDaDuocDat {
                                div {
                                    /*ghế được chính mình đặt */
                                    width: 1.5rem;
                                    height: 1.5rem;
                                    background-color: rgb(246, 246, 246);
                                    -webkit-box-shadow: -1px 2px 18px -6px orange;
                                    box-shadow: -1px 2px 18px -6px orange;
                                    color: orange !important;
                                    border: 1px solid orange !important;
                                }
                            }

                            span {
                                margin-left: 0.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
    .resultbooking {
        // display: flex;
        // flex-wrap: wrap;
        // flex: 1 1 24rem;
        // gap: 2rem;
        @include grid(35rem);
        a {
            img {
                height: 100%;
            }
        }
    }
}


//menu user
.menu-list {
    width: 232px;
    .wrapper-menu {
        width: 100%;
        // max-height: min((100vh - 96px) - 60px, 734px);
        min-height: 100px;
        padding-top: 8px;
        border-radius: 4px;
        background: rgb(255, 255, 255);
        box-shadow: #0000001f 0px 2px 12px;
    }

   
}

.menu-item {
    display: block;
    width: 100%;
    justify-content: flex-start;
    border-radius: 0;
    padding: 14px 18px;
    line-height: 1.8rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.85);


    .icon{
        font-size: 18px;
    }
    span{
        margin-left: 5px;
    }

    &.separate {
        border-top: 1px solid rgba(22, 24, 35, 0.12);
    }

    &:hover {
        color: rgba(0, 0, 0, 0.85);
        background: rgba(22, 24, 35, 0.03)!important;
    }
}
