@import "main.scss";

.footer {
    background: #1a1a1a;

    .box-container-footer {
        padding-top: 3rem;
        @include grid(21rem);
        .box {
            display: flex;
            flex-flow: column;

            h3 {
                @include title-text(2.5rem);
            }

            p {
                font-size: 1.8rem;
                color: #ccc;
            }

            a {
                @include graph-text(1.7rem);
                padding: 1rem 0;
                display: block;

                &:hover {
                    color: #de0611;
                }

                i {
                    color: #de0611;
                    padding-right: 0.3rem;
                }
            }

            .email {
                width: 100%;
                padding: 1.2rem;
                color: $black;
                font-size: 1.6rem;
                margin: 1rem 0;
                outline: none;
                border: 1px solid #de0611;
                border-radius: 0.5rem;
            }
            .link-btn {
                margin-top: 1rem;
                display: inline-block;
                padding: 0.5rem 2rem;
                background: #de0611;
                color: $white;
                font-size: 1.8rem;
                border-radius: 0.5rem;
                cursor: pointer;

                &:hover {
                    background-color: $white;
                    color: #de0611;
                }
            }
        }
    }

    .credit {
        text-align: center;
        @include title-text(2.5rem);
        padding: 3rem 0;
        margin-top: 3rem;
        border-top: $border;

        span {
            color: #de0611;
        }
    }
}
