.navbar {
    height: 6rem;
    display: flex;
    align-items: center;
    border-bottom: 0.5px solid rgb(231, 228, 228);
    color: #555;
    background: #fff;
    .wrapper {
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .search {
            display: flex;
            align-items: center;
            padding: 3px;
            border: 0.5px solid lightgray;

            input {
                border: none;
                outline: none;
                background: transparent;

                &::placeholder {
                    font-size: 12px;
                }
            }
        }

        .items {
            display: flex;
            align-items: center;

            .item {
                display: flex;
                margin-right: 20px;
                align-items: center;
                position: relative;

                .myBox {
                    position: relative;

                    .mybutton {
                        position: relative;
                        &:focus {
                            border: none;
                            outline: none;
                        }
                        .user {
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;
                            gap: 2rem;
                            color: #999;

                            &:visited {
                                opacity: 1;
                                visibility: visible;
                            }

                            .imgage {
                                display: flex;
                                align-items: center;
                                gap: 0.3rem;
                                cursor: pointer;
                                color: #999;
                                &:hover {
                                    .icon {
                                        color: #de0611;
                                    }
                                }
                                img {
                                    width: 5rem;
                                    height: 5rem;
                                    border-radius: 50%;
                                }
                                .icon {
                                    font-size: 1.2rem;
                                    font-weight: bold;
                                    color: #7451f8;
                                }
                            }
                        }
                    }
                    .dropdown {
                        position: absolute;
                        top: 103%;
                        right: 5px;
                        background: #fff;
                        padding: 1rem;
                        color: #999;
                        border-radius: 0.2rem;
                        -webkit-box-shadow: 1px 1px 15px 4px rgba(0, 0, 0, 0.41);
                        box-shadow: 1px 1px 15px 4px rgba(0, 0, 0, 0.41);
                        z-index: 1000;

                        ul {
                            display: flex;
                            flex-direction: column;
                            gap: 1rem;
                            margin-bottom: 0;

                            li {
                                display: flex;
                                align-items: center;
                                text-align: left;
                                cursor: pointer;
                                padding: 0.7rem 0.7rem;
                                padding-right: 6rem;

                                border-radius: 0.4rem;
                                &:hover {
                                    background-color: #baabf083;
                                }

                                .icon {
                                    color: #7451f8;
                                    width: 3rem;
                                    height: 3rem;
                                    background-color: #baabf083;
                                    border-radius: 50%;
                                    line-height: 3rem;
                                    text-align: center;
                                    margin-right: 1rem;
                                }
                            }
                        }
                    }
                }
                // .icon {
                //     font-size: 20px;
                // }
                // span {
                //     font-size: 12px;
                //     padding-left: 2px;
                // }
                // .counter {
                //     width: 15px;
                //     height: 15px;
                //     border-radius: 50%;
                //     background-color: red;
                //     font-size: 10px;
                //     text-align: center;
                //     line-height: 15px;
                //     position: absolute;
                //     top: -5px;
                //     right: -3px;
                //     color: #fff;
                // }
            }
        }
    }
}
.button {
    position: relative;
    a {
        display: inline-block;
        margin-left: 0.8rem;
        background-color: #de0611;
        color: #ffff;
        padding: 0.6rem 2rem;
        text-decoration: none;
        font-weight: 500;
        letter-spacing: 0.1rem;
        border-radius: 0.3rem;

        &:nth-child(2) {
            background-color: rgba(0, 0, 0, 0.5);
            border: 0.1rem solid rgba(255, 255, 255, 0.1);
            letter-spacing: normal;
        }
        &:hover:nth-child(2) {
            background-color: #de0611;
        }
    }
}
