@import "main.scss";
.films {
    flex: 6 1;

    .dataTable {
        height: 50rem;
        .search {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0.5rem;
            margin: 1rem 0;
            border: 0.1rem solid lightgray;

            input {
                border: none;
                outline: none;
                width: 100%;
                background: transparent;

                &::placeholder {
                    font-size: 12px;
                }
            }
        }

        .dataTableTitle {
            display: flex;
            justify-content: space-between;
            font-size: 25px;
            color: #999;
            letter-spacing: 2px;
            margin-bottom: 10px;

            .link {
                letter-spacing: 0;
                color: green;
                font-size: 17px;
                font-weight: 300;
                padding: 7px;
                border: 1px solid green;
                border-radius: 5px;

                &:hover {
                    background: rgba(176, 228, 176, 0.596);
                }
            }
        }

        .cellWithImg {
            display: flex;
            align-items: center;
            .cellImg {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                object-fit: cover;
                margin-right: 10px;
            }
        }

        .cellWithStatus {
            padding: 5px;
            border-radius: 5px;

            &.active {
                background-color: rgba(0, 128, 0, 0.05);
                color: green;
            }
            &.pending {
                background-color: rgba(255, 217, 0, 0.05);
                color: goldenrod;
            }
            &.passive {
                background-color: rgba(255, 0, 0, 0.05);
                color: crimson;
            }
        }

        .cellAction {
            display: flex;
            align-items: center;
            gap: 5px;

            .viewButton {
                padding: 2px 5px;
                border-radius: 5px;
                color: darkblue;
                border: 1px dotted rgba(0, 0, 139, 0.596);
                cursor: pointer;
            }

            .deleteButton {
                padding: 2px 5px;
                border-radius: 5px;
                color: crimson;
                border: 1px dotted rgba(220, 20, 60, 0.6);
                cursor: pointer;
            }
            .showTimeButton{
                padding: 2px 5px;
                border-radius: 5px;
                color: rgb(44, 44, 9);
                border: 1px dotted rgba(28, 29, 12, 0.6);
                cursor: pointer;
            
            }
        }
    }
}
