@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

.movie-detail {
    background: #f0f0ed;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border: 0.1rem solid black;

    a {
        text-decoration: none;
        color: #5c7fb8;
    }

    a:hover {
        text-decoration: underline;
    }

    .movie-card {
        font: 14px/22px "Lato", Arial, sans-serif;
        color: #a9a8a3;
    }

    .containers {
        width: 100%;
        background: #f0f0ed;
        position: relative;
        overflow: hidden;
        .image {
            position: absolute;
            width: 210px;
            height: 310px;
            top: 17rem;
            left: 7rem;
            overflow: hidden;
            cursor: pointer;
            z-index: 2;
            .cover {
                position: relative;
                width: 100%;
                height: 100%;
                transform: scale(1);
                object-fit: cover;
                transition: 0.4s linear;
            }
            .icon {
                position: absolute;
                top: 50%;
                display: inline-block;
                right: 23%;
                margin-left: -6rem;
                font-size: 6rem;
                transform: translate(-50%, -50%);
            }
            &:hover {
                .cover {
                    transform: scale(1.2);
                }
            }
        }
    }

    .hero {
        height: 35rem;

        position: relative;
        overflow: hidden;

        background-repeat: no-repeat;
        background-size: cover;
        // background-image: url(https://picsum.photos/200/300);
        background-color: rgba(56, 50, 50, 0.815);
        background-color: #1a1a1ae3;
    }

    .details {
        padding: 20rem 0 0 30rem;

        .title1 {
            color: white;
            font-size: 44px;
            margin-bottom: 13px;
            position: relative;

            span:nth-child(2) {
                position: absolute;
                top: 3px;
                margin-left: 12px;
                background: red;
                border-radius: 0.3rem;
                color: #fff;
                font-size: 1rem;
                padding: 0 0.5rem;
            }
        }

        .title2 {
            color: #c7c1ba;
            font-size: 23px;
            font-weight: 300;
            padding: 0.7rem 0.5rem;
        }
        .rate {
            padding: 0.6rem 0.5rem;
            display: inline-block;
            .danhgia {
                margin-left: 1rem;
                font-size: 2rem;
            }
        }

        .likes {
            margin-left: 24px;
        }

        .likes:before {
            content: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/icon_like.png");
            position: relative;
            top: 2px;
            padding-right: 7px;
        }
    }

    .description {
        height: 200px;
        font-size: 16px;
        line-height: 26px;
        color: #b1b0ac;
        display: flex;
        justify-content: center;
    }

    .column2 {
        padding-top: 2rem;
        margin-left: 13rem;
        width: 60%;
        .titlecontent {
            font-weight: bold;
            font-size: 2rem;
            position: relative;
            padding-bottom: 0.5rem;

            &::after {
                content: "";
                width: 10rem;
                height: 0.4rem;
                border-radius: 0.17rem;
                background-color: #de0611;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
        .content {
            display: inline;
        }
    }

    
    .infoLichChieu {
        background-color: #f0f0ed;
        padding: 2rem;
        .title {
            font-weight: bold;
            font-size: 2rem;
            position: relative;
            padding-bottom: 0.5rem;
            // text-align: center;
            // position: relative;

            &::before {
                content: "";
                width: 6rem;
                height: 0.4rem;
                border-radius: 0.17rem;
                background-color: #de0611;
                position: absolute;
                bottom: 0;
            }
        }
    }
}
