.sidebar {
    flex: 1;
    border-right: 0.5px solid rgb(230, 227, 227);
    min-height: 100vh;
    background-color: white;
    position: relative;

    .top {
        height: 6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #7451f8;
        font-weight: bold;
        font-size: 25px;
        text-transform: capitalize;
        span {
            color: #7451f8;
        }
    }
    hr {
        height: 0;
        border: 0.5px solid rgb(231, 228, 228);
    }

    .center {
        padding-left: 10px;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            p {
                font-size: 10px;
                color: #999;
                padding-top: 10px;
                padding-bottom: 5px;
                font-weight: bold;
            }
            li {
                display: flex;
                align-items: center;
                padding: 5px;
                cursor: pointer;

                &:hover {
                    background-color: #baabf083;
                }

                .icon {
                    font-size: 2rem;
                    color: #7451f8;
                }
                span {
                    font-size: 1.5rem;
                    color: #888;
                    margin-left: 10px;
                    font-weight: 600;
                }
            }
        }
    }

    .bottom {
        display: flex;
        padding: 1rem;
        position: absolute;
        bottom: 0;
        justify-content: center;

        .colorOption {
            width: 25px;
            height: 25px;
            border-radius: 5px;
            border: 1px solid #7451f8;
            cursor: pointer;
            margin: 5px;

            &:nth-child(1) {
                background-color: #fff;
            }
            &:nth-child(2) {
                background-color: #333;
            }
        }
    }
}
