.infoLichChieu {
    background-color: #f0f0ed;
    padding: 2rem;

    .title {
        font-weight: bold;
        font-size: 2rem;
        position: relative;
        padding-bottom: 0.5rem;
        // text-align: center;
        // position: relative;

        &::before {
            content: "";
            width: 6rem;
            height: 0.4rem;
            border-radius: 0.17rem;
            background-color: #de0611;
            position: absolute;
            bottom: 0;
        }
    }
}
.lichchieu {
    border: 1px solid lightgray;
    padding: 2rem;

    .heThongRap {
        img {
            width: 50px;
            height: 50px;
            object-fit: cover;
        }
    }
    .ant-tabs-tab.ant-tabs-tab-active {
        border-right: 2px solid #de0611;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    }
    .cumRap {
        border: 1px solid rgb(63, 61, 61);
        margin-bottom: 1rem;
        padding: 1rem;

        .tenCum {
            font-size: 1.8rem;
            font-weight: bold;
        }
        .listSeat {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            margin-top: 1rem;
            li {
                a {
                    display: inline-block;
                    cursor: pointer;
                    border: 1px solid rgb(90, 86, 86);
                    padding: 0.5rem 1rem;
                    color: black;

                    &:hover {
                        border-color: #de0611;
                        color: #de0611;
                    }
                }
            }
        }
    }
}

fieldset,
label {
    margin: 0;
    padding: 0;
}

//tooltip stuff via: https://codepen.io/peiche/pen/JaftA

a[data-tooltip] {
    position: relative;
}
a[data-tooltip]::before,
a[data-tooltip]::after {
    position: absolute;
    display: none;
    opacity: 0.85;
}
a[data-tooltip]::before {
    /*
   * using data-tooltip instead of title so we 
   * don't have the real tooltip overlapping
   */
    content: attr(data-tooltip);
    background: #000;
    color: #fff;
    font-size: 13px;
    padding: 5px;
    border-radius: 5px;
    /* we don't want the text to wrap */
    white-space: nowrap;
    text-decoration: none;
}
a[data-tooltip]::after {
    width: 0;
    height: 0;
    border: 6px solid transparent;
    content: "";
}

a[data-tooltip]:hover::before,
a[data-tooltip]:hover::after {
    display: block;
}

/** positioning **/

/* top tooltip */
a[data-tooltip][data-placement="top"]::before {
    bottom: 100%;
    left: 0;
    margin-bottom: 40px;
}
a[data-tooltip][data-placement="top"]::after {
    border-top-color: #000;
    border-bottom: none;
    bottom: 50px;
    left: 20px;
    margin-bottom: 4px;
}
