header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 80px;
    z-index: 1000;
    background: #1a1a1aaf;
    transition: 0.4s ease-in;

    &.active {
        background: #1a1a1a;
        padding: 2rem 8rem;
    }

    .logo {
        color: #fff;
        font-size: 20px;
        font-weight: normal;
        line-height: 60px;
        text-align: center;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: #de0611;
    }

    ul.navigation {
        display: flex;
        list-style: none;
        margin: 0;
        margin-left: 50px;

        li {
            margin-left: 20px;
            letter-spacing: 1px;

            .nav-link {
                color: #fff;
                padding: 0 0.5rem;
                &.active,
                &:hover {
                    border-bottom: 3px solid #de0611;
                }
            }
        }
    }
    .search {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 20px;

        .icon {
            font-size: 15px;
            color: #fff;
        }
        .language {
            span {
                margin-left: 8px;
                font-size: 15px;
                font-weight: 500;
                color: #fff;
                letter-spacing: 1px;
                cursor: pointer;
                display: inline-block;

                &.active,
                &:hover {
                    color: #de0611;
                }

                &:nth-child(1) {
                    margin-left: 0;
                }
            }
        }
        .button {
            position: relative;
            a {
                display: inline-block;
                margin-left: 0.8rem;
                background-color: #de0611;
                color: #ffff;
                padding: 0.6rem 2rem;
                text-decoration: none;
                font-weight: 500;
                letter-spacing: 0.1rem;
                border-radius: 0.3rem;

                &:nth-child(2) {
                    background-color: rgba(0, 0, 0, 0.5);
                    border: 0.1rem solid rgba(255, 255, 255, 0.1);
                    letter-spacing: normal;
                }
                &:hover:nth-child(2) {
                    background-color: #de0611;
                }
            }
        }
        .myBox {
            position: relative;

            .mybutton {
                position: relative;
                &:focus {
                    border: none;
                    outline: none;
                }
                .user {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    gap: 2rem;
                    color: #fff;

                    &:visited {
                        opacity: 1;
                        visibility: visible;
                    }

                    .imgage {
                        display: flex;
                        align-items: center;
                        gap: 0.3rem;
                        cursor: pointer;
                        color: #fff;
                        &:hover {
                            .icon {
                                color: #de0611;
                            }
                        }
                        img {
                            width: 5rem;
                            height: 5rem;
                            border-radius: 50%;
                        }
                        .icon {
                            font-size: 1.2rem;
                            font-weight: bold;
                            color: #fff;
                        }
                    }
                }
            }
            .dropdown {
                position: absolute;
                top: 103%;
                right: 5px;
                background: #fff;
                padding: 1rem;
                color: #000;
                border-radius: 0.2rem;
                -webkit-box-shadow: 1px 1px 15px 4px rgba(0, 0, 0, 0.41);
                box-shadow: 1px 1px 15px 4px rgba(0, 0, 0, 0.41);

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    margin-bottom: 0;

                    li {
                        display: flex;
                        align-items: center;
                        text-align: left;
                        cursor: pointer;
                        padding: 0.7rem 0.7rem;
                        padding-right: 6rem;

                        border-radius: 0.4rem;
                        &:hover {
                            background-color: rgba(211, 211, 211, 0.808);
                        }

                        .icon {
                            color: #000;
                            width: 3rem;
                            height: 3rem;
                            background: rgba(161, 161, 161, 0.541);
                            border-radius: 50%;
                            line-height: 3rem;
                            text-align: center;
                            margin-right: 1rem;
                        }
                    }
                }
            }
        }
    }
}

