* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none !important;
  text-transform: capitalize;
  transition: all 0.02s linear;
}

$orange: #ff5421;
$white: #fff;
$black: #000;
$light-color: #ccc;
$bg-color: #1d0e15;
$border: 0.1rem solid rgba(255, 255, 255, 0.2);
$box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap: 2rem;
}

@mixin title-text($titleText) {
  font-size: $titleText;
  text-transform: capitalize;
  color: $white;
  font-weight: normal;
}

@mixin graph-text($graphText) {
  font-size: $graphText;
  line-height: 2;
  color: $light-color;
}

.link-btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.5rem 1.2rem;
  background: #de0611;
  color: #fff;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  border: 1px solid #f07469;
  font-weight: bold;
  padding: 5px;
  text-transform: uppercase;

  &:hover {
    background-color: $white;
    color: #de0611;
  }
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 0.7rem;
  }

  &::-webkit-scrollbar-track {
    background: $bg-color;
  }

  &::-webkit-scrollbar-thumb {
    background: #de0611;
    border-radius: 0.5rem;
  }
}
section {
  padding: 0 9%;
}
